<launch>
    <!-- 加载配置文件参数 -->
    <rosparam command="load" file="$(find direction_indicator)/config/direction_indicator_params.yaml" />

    <!-- 启动语音生成节点 -->
    <include file="$(find audio_compass)/launch/speech_generator.launch"/>

    <!-- 启动方向指示器节点 -->
    <node pkg="direction_indicator" type="direction_indicator_node" name="direction_indicator" output="screen">
        <!-- 增加重新启动选项 -->
        <param name="respawn" value="true"/>
        <param name="respawn_delay" value="5"/>
    </node>
</launch>